@media screen and (max-width: 770px) {
    .nav{
        display: none!important;
    }
    article.main-text {
             padding-top: 50px;
    }
    .workSectionImage {
        place-self: unset;

        width: 100%;
    }
    .workSectionImage img {
        place-self:none ;
        width: 100%;
    }
    .wrapSection{
        margin-top: 40px!important;
        flex-direction: column!important;
        align-items: center!important;
    }
    .sectionServiceCard{
        width: 100%!important;
    }
    .serviceTitle{
        margin-top: 0;
        margin-bottom: 5rem;
    }
    .social-mediaicon {
position: static!important;
margin-top:20px;
    }
    .social-mediaicon ul{
        display: flex;
    }
    .social-mediaicon ul li{
        padding-bottom: 0;
        padding-right: 20px;
    }
    .flex-center {
flex-direction: column-reverse;
align-items: center!important;
    }
    .main-text{
        padding-top: 50px!important;
    }
}

@media screen and (max-width: 470px) {
    .startproject-btn{
        width: 90;
    }
    .main-text{
text-align: start!important;
    }

.app-wrapper{
    margin: 14px 18px;
    height: fit-content;
}
a.startproject-btn{
 font-size: 19px!important;   
 width: 90%!important;
}
.circle-span-project {
    width: 55px!important;
    height: 35px!important;
    margin-left: 12px!important;
}
}
@media screen and (max-width: 978px) {
.workSectionWrapper{
    flex-direction: column;
    gap: 40px;
    justify-content: center!important;
}
.workSectionImage {
    place-self: end;
}
.workSectionTitle {
    width: inherit!important;
}
.sectionTitle {
    width: 636px;
}
}