.workSectionWrapper {
    display: flex;
    justify-content: space-around;
}

.sectionTitle h2{
    font-size: 52px;
}
.workingCategiory span {
    margin-top: 12px;
    display: block;
    margin-right: 12px;
    padding: 0.8rem 1.2rem;
    box-sizing: border-box;
    box-sizing: border-box;
    width: fit-content;
    background: rgba(0,0,0,5%);
    border-radius: 113px;
    color: rgba(0,0,0,.6);
    font-weight: 700;
}
.workingCategiory {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.2rem;
}
.workSectionDetails {
    margin-top: 40px;
}
.sectionTitle {
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sectionTitle a {
    font-size: 30px;
    color: #bd00ff;
    font-weight: 700;
}